<div class="flex items-center justify-center p-12 mt-10">
    <!-- Author: FormBold Team -->
    <div class="mx-auto w-full max-w-[700px] bg-white px-12 py-5 ">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div class="mb-5">
                <label for="nom" class="mb-3 block text-base font-medium text-[#07074D]">
                    nom
                </label>
                <input type="text" name="nom" id="nom" placeholder="nom" [(ngModel)] = "formData.nom"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="description" class="mb-3 block text-base font-medium text-[#07074D]">
                    description 
                </label>
                <input type="text" name="description" id="description" placeholder="Description" [(ngModel)] = "formData.description"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="prix" class="mb-3 block text-base font-medium text-[#07074D]">
                    prix
                </label>
                <input type="number" name="prix" id="prix" placeholder="Prix" [(ngModel)] = "formData.prix"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="w-full  ">
                <div class="mb-5">
                    <label for="image" class="mb-3 block text-base font-medium text-[#07074D]">
                        Image
                    </label>
                    <input type="file" name="image" id="image" accept="image/*" (change)="onFileChange($event)"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md file:text-md file:bg-transparent file:border-0 " />
                </div>
            </div>
            <div>
                <button type="submit"
                    class="hover:shadow-form w-full rounded-md bg-slate-900 hover:bg-slate-700 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>
